/* overrides for mapbox-gl.css */

.mapboxgl-popup-content {
  @apply bg-slate-50;
  padding: 1.5rem 2rem;
  min-width: 12rem;
}

.mapboxgl-popup-close-button {
  font-size: 1.5rem;
  padding: 0.25rem;
}
